.navbar {
    justify-content: center;
    text-align: left;
    height: 110px;
    background-color: rgb(0, 123, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
  }