<div id="principal">
    <h1>Contactanos y resuelve todas tus preguntas!!</h1>
    <p>Cuentas con nosotros para resolver cualquier duda que tengas sobre los autos, incluso el tuyo.</p>
    <p>Simplemente ingresa tus datos en el formulario de abajo, y envianos un mensaje. Estaremos al pendiente de todas tus preguntas. No solo eso, tambien puedes sugerirnos cosas en las que cambiar.
    </p>
    <img src="../../assets/img/Logo Nombre.png" alt="">
</div>

    <div id="formularioF">
        <div id="formulario">
            
            <div class="mb-3">
                <label for="correo" class="form-label">Correo Electronico</label>
                <input type="email" class="form-control" id="correo" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Ingresa tu mensaje para nosotros</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>
    </div>