#principal{
    width: 100%;
    margin: auto;
    padding-top: 100px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding-left: 50%;
    padding-right: 10%;
    padding-bottom: 100px;
    text-align: center;
    font-size: 20px;
    background-image: url(../../assets/img/fondoContact.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#principal img{
    position: absolute; /* Establece la posición absoluta para la imagen */
    top: 200px; /* Posición desde la parte superior del div */
    left: 400px;
    height: auto; /* Altura de la imagen ajustada automáticamente */
}
#formulario{
    position: relative;
    width: 100%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 55px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: lightgray;
}
#nosotros img{
    width: 200px;
    height: 200px;
}
#nosotros {
    padding-top: 30px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#nosotros h5{
    padding-top: 30px;
}
.titulo{
    margin: auto;
    text-align: center;
    padding-top: 100px;
    width: 70%;
    font-size: 30px;
}
.persona {
    padding-bottom: 50px;
    margin-right: 50px; 
    margin-bottom: 50px;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
}