<link rel="stylesheet" href="automovil.component.css">
<h1 class="text-center">Automoviles</h1>
<div class="card-group row row-cols-1 row-cols-lg-3 g-4">
    @for (a of automoviles; track a) {
        <div class="col">
            <div class="card h-100">
                <img src={{a.img}} class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{a.nombre}}</h5>
                    <p class="card-text">{{a.descrip}}</p>
                    <p class="card-text"><small class="text-muted">{{a.marca}}</small></p>
                    <p class="card-text">{{a.costo}}</p>
                </div>
                <a href="#" class="btn mb-3 btn-outline-primary btn-block">reservar</a>
            </div>
        </div>
    }
</div>