<div>
    <link rel="icon" href="assets/img/Designer-fotor-202405038259.jpg" type="image/x-icon">
    <img src="../assets/img/ford-mustang-gt-rear-4k_1559764510.jpg.webp" alt="" height="1000" width="1965" class="position-relative">
</div>
<div class="cont">
    <div class="position-absolute">
        <h1><strong>CarsForCracks</strong></h1>
        <h2>Puro pa' delante</h2>
    </div>
</div>
<br><br>
<div class="container">
    <div class="row">
    <div class="col-md-4" *ngFor ="let tarjeta of tarjetas">
        <app-card 
        [titulo]="tarjeta.titulo" 
        [descripcion]="tarjeta.descripcion" 
        [imagen]="tarjeta.imagen">
        </app-card>
    </div>
    </div>
</div>
<br><br>
<div class="container">
    <h2 style="text-align:center"><Strong>Algunos de nuestros muchos modelos disponibles </Strong></h2>
    <app-carousel></app-carousel>
</div>
